.TableStyle > tr > td{
  border: solid 2px #000000;
  padding: 5px;

}
.TableStyle{
  border-collapse: collapse;
  margin-top: 5px;

}
.headTable{
  background-color: aqua;
}
.StyleTable tr :nth-child(1) {
  width: 48px;
  word-break: break-all;
}
.StyleTable tr :nth-child(2) {
  width: 200px;
  word-break: break-all;
}
.StyleTable tr :nth-child(3) {
  width: 150px;
  word-break: break-all;
}
.StyleTable tr :nth-child(4) {
  width: 100px;
  word-break: break-all;
}
.StyleTable tr :nth-child(5) {
  width: 100px;
  word-break: break-all;
}
.StyleTable tr :nth-child(6) {
  width: 150px;
  word-break: break-all;
}
.StyleTable tr :nth-child(7) {
  width: 150px;
  word-break: break-all;
}
.StyleTable tr :nth-child(8) {
  width: 100px;
  word-break: break-all;
}
