<div id="namediv">
  <table (click)="getBranchID(office.id, $event)" class="TableStyle StyleTable">

      <tr>
        <td>{{office.id}}</td>
        <td>{{office.FullName}}</td>
        <td>{{office.Name}}</td>
        <td>{{office.INN}}</td>
        <td>{{office.KPP}}</td>
        <td>{{office.Founder}}</td>
        <td>{{office.Address}}</td>
        <td>{{office.Phone}}</td>
      </tr>
  </table>
  <table  class="TableStyle ">
    <tr class="headTable" *ngIf="toggle">
      <td>№П/П</td>
      <td>Должностное лицо</td>
      <td>Адрес</td>
      <td>Телефон</td>
    </tr>
    <tr *ngFor="let fil of filial">
      <td>{{fil.id}}</td>
      <td>{{fil.address}}</td>
      <td>{{fil.name}}</td>
      <td>{{fil.phone}}</td>

    </tr>
  </table>
</div>
