<div>
  <div *ngIf = "toggle; else noCards">
    <app-authoriz></app-authoriz>
  </div>

  <div>
    <div>
    <ng-template #noCards>
      <router-outlet></router-outlet>
    </ng-template>
  </div>
