<div class="auth">
  <h3>Авторизация</h3>
  <form ng-submit="formSubmit()">
    <div>
      <div>
        <input #nameusr type="text" class="form-control" ng-model="username" placeholder="Имя" required=""/>
      </div>

      <div>
        <input #passusr type="password" class="form-control" ng-model="password" placeholder="Пароль" required=""/>
      </div>

      <div>
        <nav>
          <a routerLink="/base" class="btn" (click)="testChild(nameusr.value, passusr.value)">Вход</a>
        </nav>
      </div>

    </div>
  </form>
</div>

