.btn {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;

  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  border-radius: 4px;
}
.auth{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
.form-control{
  border-radius: 4px;
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;

}
