.TableStyle > tr > td{
  border: solid 2px #000000;
  padding: 5px;
}
.TableStyle{
  border-collapse: collapse;
  margin: auto;
}

.headTable{
  background-color: aqua;
}
h2{
  text-align: center;
  font-style: italic;
}
.btn {
  color: #fff;
  background-color: yellowgreen;
  border-color: #4cae4c;

  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1vh;
}

.StyleTable tr :nth-child(1) {
  width: 48px;
  word-break: break-all;
}
.StyleTable tr :nth-child(2) {
  width: 200px;
  word-break: break-all;
}
.StyleTable tr :nth-child(3) {
  width: 150px;
  word-break: break-all;
}
.StyleTable tr :nth-child(4) {
  width: 100px;
  word-break: break-all;
}
.StyleTable tr :nth-child(5) {
  width: 100px;
  word-break: break-all;
}
.StyleTable tr :nth-child(6) {
  width: 150px;
  word-break: break-all;
}
.StyleTable tr :nth-child(7) {
  width: 150px;
  word-break: break-all;
}
.StyleTable tr :nth-child(8) {
  width: 100px;
  word-break: break-all;
}
