<h2>Список организаций</h2>

    <table  class="TableStyle">
      <tr>
        <td>
          <table class="TableStyle headTable StyleTable">

            <tr>
              <td>№П/П</td>
              <td>Полное имя</td>
              <td>Сокращенноё имя</td>
              <td>ИНН</td>
              <td>КПП</td>
              <td>Учредитель</td>
              <td>Адрес</td>
              <td>Телефон</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr *ngFor="let office of offices"
          [class.selected]="office === selectedOffice"
      (contextmenu)="onSelectOffice(office)">
        <td><app-open-tree-list
        [office]=office></app-open-tree-list></td>
      </tr>
    </table>



<div><button routerLink="/base" class="btn btn-success" >Назад</button></div>
