<h2>Головные офисы</h2>

    <table  class="TableStyle">
      <tr class="headTable">
        <td width="46px">№П/П</td>
        <td>Полное имя</td>
        <td>Сокращенноё имя</td>
        <td>ИНН</td>
        <td>КПП</td>
        <td>Учредитель</td>
        <td>Адрес</td>
        <td>Телефон</td>
      </tr>
      <tr *ngFor="let office of offices"
          [class.selected]="office === selectedOffice"
          (click)="onSelectOffice(office)">
        <td>{{office.id}}</td>
        <td>{{office.FullName}}</td>
        <td>{{office.Name}}</td>
        <td>{{office.INN}}</td>
        <td>{{office.KPP}}</td>
        <td>{{office.Founder}}</td>
        <td>{{office.Address}}</td>
        <td>{{office.Phone}}</td>
      </tr>
    </table>


<div *ngIf="selectedOffice">

  <h2>Редактор {{selectedOffice.Name | uppercase}} </h2>
    <table class="change TableStyle">
      <tr><td colspan="2"><span>№П/П: </span>{{selectedOffice.id}}</td></tr>
      <tr>
        <td>Полное наименование:</td>
        <td><input [(ngModel)]="selectedOffice.FullName" placeholder="Полное наименование"></td>
      </tr>
      <tr>
        <td>Сокращённое наименование:</td>
        <td><input [(ngModel)]="selectedOffice.Name" placeholder="Сокращённое наименование"></td>
      </tr>
      <tr>
        <td>ИНН:</td>
        <td><input type="number" [(ngModel)]="selectedOffice.INN" placeholder="ИНН"></td>
      </tr>
      <tr>
        <td>КПП:
        <td><input type="number" [(ngModel)]="selectedOffice.KPP" placeholder="КПП"/></td>
      </tr>
      <tr>
        <td>Учредитель:</td>
        <td><input [(ngModel)]="selectedOffice.Founder" placeholder="ФИО"/></td>
      </tr>
      <tr>
        <td>Адрес:</td>
        <td><input [(ngModel)]="selectedOffice.Address" placeholder="Адрес"/></td>
      </tr>
      <tr>
        <td>Телефон:
        <td><input type="number" [(ngModel)]="selectedOffice.Phone" placeholder="Телефон"></td>
      </tr>
    </table>
    <button class="btnSave" (click)="saveOf()">Сохранить</button>
</div>

<div><button *ngIf="this.app.role === 'администратор'" class="btn" (click)="addOf()">{{strooke}}</button></div>
<div *ngIf="addOffice">
  <table class="change TableStyle">
    <tr>
      <td>Полное наименование:</td>
      <td><input #FullName placeholder="Полное наименование"></td>
    </tr>
    <tr>
      <td>Сокращённое наименование:</td>
      <td><input #Name placeholder="Сокращённое наименование"></td>
    </tr>
    <tr>
      <td>ИНН:</td>
      <td><input type="number" #INN placeholder="ИНН"></td>
    </tr>
    <tr>
      <td>КПП:
      <td><input type="number" #KPP placeholder="КПП"/></td>
    </tr>
    <tr>
      <td>Учредитель:</td>
      <td><input #Founder placeholder="ФИО"/></td>
    </tr>
    <tr>
      <td>Адрес:</td>
      <td><input #Address placeholder="Адрес"/></td>
    </tr>
    <tr>
      <td>Телефон:
      <td><input type="number" #Phone placeholder="Телефон"></td>
    </tr>
  </table>
  <button class="btnSave" (click)="addOff(FullName.value,Name.value,INN.value,KPP.value,Founder.value,Address.value,Phone.value)">Записать</button>
</div>


<h2>Филиалы</h2>
    <table class="TableStyle">
      <tr class="headTable">
        <td>№П/П</td>
        <td>Должностное лицо</td>
        <td>Адрес</td>
        <td>Телефон</td>
      </tr>
      <tr *ngFor="let branch of branches"
      [class.selected]="branch === selectedBranch"
      (click)="onSelectBranch(branch)">
        <td>{{branch.id}}</td>
        <td>{{branch.name}}</td>
        <td>{{branch.address}}</td>
        <td>{{branch.phone}}</td>
      </tr>
    </table>


<div *ngIf="selectedBranch">

  <h2>Редактор {{selectedBranch.name | uppercase}}</h2>
  <table class="TableStyle change">
    <tr><td colspan="2">№П/П: {{selectedBranch.id}}</td></tr>
    <tr>
      <td>Должностное лицо:</td>
    <td><input [(ngModel)]="selectedBranch.name" placeholder="ФИО"/></td>
    </tr>
    <tr>
      <td>Адрес:</td>
      <td><input [(ngModel)]="selectedBranch.address" placeholder="Адрес"/></td>
    </tr>
    <tr>
      <td>Телефон:</td>
      <td><input type="number" [(ngModel)]="selectedBranch.phone" placeholder="Телефон"></td>
    </tr>
  </table>
    <button class="btnSave" (click)="save()">Сохранить</button>
  </div>
<div><button *ngIf="this.app.role === 'администратор'" class="btn" (click)="addBr()">{{stroke}}</button></div>
<div *ngIf="addBranch">
  <table class="TableStyle change">
    <tr>
      <td>Должностное лицо:</td>
      <td><input #name placeholder="ФИО"/></td>
    </tr>
    <tr>
      <td>Адрес:</td>
      <td><input #address placeholder="Адрес"/></td>
    </tr>
    <tr>
      <td>Телефон:</td>
      <td><input type="number" #phone placeholder="Телефон"></td>
    </tr>
    <tr>
      <td>Порядковый номер головной организации:</td>
      <td><input type="number" #iid placeholder="№П/П"></td>
    </tr>
  </table>
    <button class="btnSave" (click)="addBrr(name.value, address.value, phone.value, iid.value)">Записать</button>
  </div>

<div><button class="btn" routerLink="/base">Назад</button></div>

