td{
  border: solid 2px #000000;
  padding: 5px;
}
.TableStyle{
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  margin-top: 1vh;
}
.headTable{
  background-color: aqua;
}
h2{
  text-align: center;
  font-style: italic;
}
.btn {
  color: #fff;
  background-color: yellowgreen;
  border-color: #4cae4c;

  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1vh;
}
.btnSave {
  color: #fff;
  background-color: yellowgreen;
  border-color: #4cae4c;
  margin-left: 46.5%;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
}
.change{
  background: aliceblue;
  border-collapse: collapse;
  text-align: center;
  border: solid 2px #000000;
  margin-top: 1vh;
}
