<div class="container">
    <div class="hello">Приветствуем вас {{this.app.name}}</div>
  <div class="btn" routerLink="/list">Просмотр организаций как список</div>
  <div class="btn" routerLink="/tree">Просмотр организаций как дерево</div>
  <div class="btn" routerLink="/authorization" (click)="test()" >Выход</div>
</div>
<div class="divIMG">
  <img src="https://orionnet.ru/img/logo.png" alt="Что-то пошло не так">
</div>
