.container{
  background: #fff;
  margin: auto auto;
  top: 5px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 8vh;
}
.btn {
  height: 8vh;
  width: 25%;
  background-color: #a5c7ff;
  border-color: #4cae4c;
  float: left;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}
.hello{
  height: 8vh;
  width: 25%;
  background-color: #a5c7ff;
  border-color: #4cae4c;
  float: left;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}
.link{
  color: black;
  text-align: center;
  font-size: 120%;
}
.divIMG{
  text-align: center;
  margin-top: 3vh;
}
img{
  width: 50%;
}
